/* || General setup */
:root[data-theme = light] {
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --navcolor: rgb(75, 75, 255);
  --logo: url("./assets/logo30anos.png")
}

:root[data-theme = night] {
  --bg-url: url("./assets/bg-mobile.jpg");
  --navcolor: #6c5891;
  --logo: url("./assets/logobranco.png")
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1,
h2,
h3,
div {
  font-family: "Inter", sans-serif;
  color: black;
}

/* vamos entrar na section, que possui uma classe chamada module e no p de lá*/
section.module p{
  margin-bottom: 40px;

}
/* no ultimo item, para não ter a margin no final*/
section.module:last-child{
  margin-bottom: 0;
}

section.module h2{
  margin-bottom: 40px;
  font-size: 30px;
}

/* agora entrando na classe com o nome de content, onde tem os textos (parte apenas dos textos)*/
section.module.content{
  padding: 40px 0;
  background-color: #ece7d5;
}
section.module.parallax{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-bakcground-size: cover;
}
section.module.parallax:after{
  content:"";
  height: 100%;
  width: 100%;
  position:absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.module.parallax-1{
  background-image: url(assets/UniFacef2.jpg);
}

section.module.parallax-2{
  background-image: url(assets/facef2.jpeg);

}

section.module.parallax-3{
  background-image: url(Parallax/assets/facef.jpg);

}
section.module.parallax h1{
  color: #fff;
  text-align: center;
  font-size: 78px;
  z-index: 50;
  text-transform: uppercase;
}

p,
input,
li {
  font-family: "Arial", sans-serif;
  color: #000000;
}

h1 {
  font-size: 4rem;
  text-align: center;
  padding: auto;
  margin: auto;
}

h2,
#Título {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2.5rem;
  text-align: left;
  flex: auto;
  font-family: "Inter", sans-serif;
  margin-left: 25px;
}

h5 {
  font-size: 1.8rem;
  text-align: left;
  font-family: "Inter", sans-serif;
}

p,
li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

header {
  display: flex;
}

#logo{
  content: var(--logo);
  width: 400px
}

nav,
article,
aside,
footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: var(--navcolor);
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: whitesmoke;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}

#img {
  text-align: center;
}

span {
  text-align: center;
  margin-left: 30px;
}

#ig {
  width: 50px;
  margin: 5px;
}
div {
  font-size: 2rem;
  text-align: center;
}
#input {
  text-align: center;
}

/* layout dos botões */

#button2{
  background-color: var(--navcolor);
  color: white;
}

